force-app/main/default/flows/New_Expense_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Admin_Radio_Button_Value</name>
        <label>Assign Admin Radio Button Value</label>
        <locationX>3091</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Record_Type_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Type_Radio_Button</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_ID_Choosen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HRGeneralist_Radio_Button_Value</name>
        <label>Assign HRGeneralist Radio Button Value</label>
        <locationX>3795</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Record_Type_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_Experience_and_Development_for_HRGeneralist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Type_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee Experience and Development</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Team_Members_to_be_displayed_in_a_Data_Table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HRManager_Radio_Button_Value</name>
        <label>Assign HRManager Radio Button Value</label>
        <locationX>3531</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Record_Type_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recruitment_Trainees_and_Marketing_for_HRManager</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Type_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recruitment, Trainees and Marketing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Team_Members_to_be_displayed_in_a_Data_Table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_Name</name>
        <label>Assign Record Type Name</label>
        <locationX>2827</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Record_Type_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recruitment, Trainees and Marketing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Team_Members_to_be_displayed_in_a_Data_Table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_Name_for_Employee</name>
        <label>Assign Record Type Name for Employee</label>
        <locationX>3091</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Record_Type_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee Experience and Development</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Team_Members_to_be_displayed_in_a_Data_Table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Records_to_a_Collection_Multiple</name>
        <label>Assign Records to a Collection</label>
        <locationX>4186</locationX>
        <locationY>3194</locationY>
        <assignmentItems>
            <assignToReference>ROI_Cost_for_Multiple_Team_Members_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ROI_Cost_for_Multiple_Team_Members_Collector</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Team_Members_Selected_in_the_Data_Table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Team_Members_Selected</name>
        <label>Count Team Members Selected</label>
        <locationX>3575</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Team_Members_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Team_Members_Data_table.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Budget_Administration_Metadata_for_Recruitment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_a_ROI_Cost_List_with_Records</name>
        <label>Create a ROI Cost List with Records</label>
        <locationX>4186</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>ROI_Cost_for_Multiple_Team_Members_Collector.Amount_Spent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_Spent_Splitted_Among_Team_Members</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROI_Cost_for_Multiple_Team_Members_Collector.Associated_Credit_Card__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Expense_Created.Associated_Credit_Card__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROI_Cost_for_Multiple_Team_Members_Collector.Associated_Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Team_Members_Selected_in_the_Data_Table.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROI_Cost_for_Multiple_Team_Members_Collector.Budget_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Budget_Record_for_Multiple_Team_Members_Opt.Budget_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROI_Cost_for_Multiple_Team_Members_Collector.Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expense_Record_ID_for_Multiple_Team_Members</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROI_Cost_for_Multiple_Team_Members_Collector.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Payment_Concept} - {!Loop_Through_Team_Members_Selected_in_the_Data_Table.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROI_Cost_for_Multiple_Team_Members_Collector.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Expense_Created.Payment_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROI_Cost_for_Multiple_Team_Members_Collector.Receipt_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Expense_Created.Receipt_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROI_Cost_for_Multiple_Team_Members_Collector.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Expense_Created.Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROI_Cost_for_Multiple_Team_Members_Collector.Subcategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Expense_Created.Subcategory__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROI_Cost_for_Multiple_Team_Members_Collector.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Expense_Created.Transaction_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROI_Cost_for_Multiple_Team_Members_Collector.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Expense_Parameters.Indirect_Cost_Record_type_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROI_Cost_for_Multiple_Team_Members_Collector.Revenue_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outcome</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ROI_Cost_for_Multiple_Team_Members_Collector.Transaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other Expenses</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Records_to_a_Collection_Multiple</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Team_Members_ID_s</name>
        <label>Store Team Members ID&apos;s</label>
        <locationX>3834</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>Submit_for_Approval_Team_Members_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Through_every_one_of_the_Team_Members.Id},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_every_one_of_the_Team_Members</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Both_Record_Types</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Both&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_Card_Method</name>
        <choiceText>Credit Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>Digital_Recibo</name>
        <choiceText>Digital - Recibo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital - Recibo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employee_Experience_and_Development</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Employee Experience and Development&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Expense_Parameters.Employee_Record_Type_ID__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Event</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Event&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>LicenseType</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;License&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>License</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multiple_Team_Members_Choice</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Multiple Team Members&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multiple Team Members</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_Choice</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;None&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Normal_Expense</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Other Expense&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Expense</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_Team_Member</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;One&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paper_Credito_Fiscal</name>
        <choiceText>Paper - Credito Fiscal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paper - Credito Fiscal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paper_Factura</name>
        <choiceText>Paper - Factura</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paper - Factura</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paper_Recibo</name>
        <choiceText>Paper - Recibo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paper - Recibo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recruitment_Trainees_and_Marketing</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;﻿Recruitment, Trainees and Marketing&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Expense_Parameters.Recruitment_Record_Type_ID__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Amount_Spent_Budget_Available_Amount</name>
        <label>Amount Spent &gt; Budget Available Amount?</label>
        <locationX>4054</locationX>
        <locationY>2654</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>That_s_Right_but_Create_them</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount_Spent</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Budget_Record_for_Multiple_Team_Members_Opt.Available_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amount_Higher_Warning_Message_for_Multiple_Team_Members</targetReference>
            </connector>
            <label>That&apos;s Right, but Create them</label>
        </rules>
        <rules>
            <name>Not_today_Chief</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount_Spent</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Budget_Record_for_Multiple_Team_Members_Opt.Available_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_General_Expense</targetReference>
            </connector>
            <label>Not today, Chief</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amount_Spent_is_Higher_than_Budget_Amount</name>
        <label>Amount Spent is Higher than Budget Amount?</label>
        <locationX>1634</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Success_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yep_but_create_a_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount_Spent</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Budget_Record.Available_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subcategory.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Budget_Administration_Metadata_for_Recruitment.Administration_Subcategory_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subcategory.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Budget_Administration_Metadata_for_Employee.Administration_Subcategory_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amount_Higher_Warning_Message</targetReference>
            </connector>
            <label>Yep, but create a record</label>
        </rules>
        <rules>
            <name>Nope</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount_Spent</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Budget_Record.Available_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_SOLO_expense_Direct_Expense</targetReference>
            </connector>
            <label>Nope</label>
        </rules>
    </decisions>
    <decisions>
        <name>Annual_Budget_is_Approved</name>
        <label>Annual Budget is Approved?</label>
        <locationX>1997</locationX>
        <locationY>1922</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Budget_Record.Subcategory__r.Annual_Budget__r.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Category</targetReference>
            </connector>
            <label>Yes, it is</label>
        </rules>
        <rules>
            <name>Is_not_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Budget_Record.Subcategory__r.Annual_Budget__r.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Annual_Budget_not_Approved</targetReference>
            </connector>
            <label>Is not Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Associated_Team_Member_is_Empty_OR_Equal_to_1</name>
        <label>Associated Team Member is Empty OR Equal to 1?</label>
        <locationX>3575</locationX>
        <locationY>1706</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opt</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Associated_Team_Member.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Associated_Team_Member.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Team_Members_Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Budget_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Nope_Opt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Team_Members_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Budget_Record_for_Multiple_Team_Members_Opt</targetReference>
            </connector>
            <label>Nope</label>
        </rules>
    </decisions>
    <decisions>
        <name>Budget_Category</name>
        <label>Budget Category</label>
        <locationX>1392</locationX>
        <locationY>2030</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recruitment_Trainees_and_Marketing_Opt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Budget_Record.Budget_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recruitment, Trainees and Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credit_Card_ID_for_Recruitment</targetReference>
            </connector>
            <label>Recruitment, Trainees and Marketing</label>
        </rules>
        <rules>
            <name>Employee_Experience_and_Development_Opt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Budget_Record.Budget_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee Experience and Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credit_Card_ID_for_Employee</targetReference>
            </connector>
            <label>Employee Experience and Development</label>
        </rules>
    </decisions>
    <decisions>
        <name>Budget_Category_for_Multiple_Team_Members</name>
        <label>Budget Category for Multiple Team Members</label>
        <locationX>3878</locationX>
        <locationY>2030</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recruitment_Trainees_and_Marketing_Multiple_Opt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Budget_Record_for_Multiple_Team_Members_Opt.Budget_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recruitment, Trainees and Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credit_Card_ID_for_Recruitment_Multiple_Team_Members</targetReference>
            </connector>
            <label>Recruitment, Trainees and Marketing</label>
        </rules>
        <rules>
            <name>Employee_Experience_and_Development_Multiple_Opt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Budget_Record_for_Multiple_Team_Members_Opt.Budget_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee Experience and Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credit_Card_ID_for_Employee_Multiple_Team_Members</targetReference>
            </connector>
            <label>Employee Experience and Development</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Administrator_Using_the_Subcategory</name>
        <label>Is Administrator Using the Subcategory?</label>
        <locationX>710</locationX>
        <locationY>2654</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_User_Profile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Expense_of_Budget_Administration_Associated_to_a_Team_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Noup_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_User_Profile</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Subcategory_not_Allowed</targetReference>
            </connector>
            <label>Noup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Administrator_Using_the_Subcategory_Multiple_Team_Members</name>
        <label>Is Administrator Using the Subcategory? - Multiple Team Members</label>
        <locationX>3130</locationX>
        <locationY>2654</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Multiple_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_User_Profile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_a_General_Expense</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Noup_Multiple_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_User_Profile</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subcategory_not_Allowed</targetReference>
            </connector>
            <label>Noup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Expense_of_Budget_Administration_Associated_to_a_Team_Member</name>
        <label>Is Expense of Budget Administration Associated to a Team Member?</label>
        <locationX>314</locationX>
        <locationY>2762</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ujum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Associated_Team_Member.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Budget_Administration_Expense_Record_with_Team_Member_Associated</targetReference>
            </connector>
            <label>Ujum</label>
        </rules>
        <rules>
            <name>No_this_time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Associated_Team_Member.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Budget_Administration_Expense_Record</targetReference>
            </connector>
            <label>No, this time</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision has been created to filter the expenses that are using the Administration Budget because this budget never will go to an approval process.</description>
        <name>Is_the_Administration_Budget</name>
        <label>Is the Administration Budget?</label>
        <locationX>1392</locationX>
        <locationY>2546</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yess</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Subcategory.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Budget_Administration_Metadata_for_Recruitment.Administration_Subcategory_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subcategory.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Budget_Administration_Metadata_for_Employee.Administration_Subcategory_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Administrator_Using_the_Subcategory</targetReference>
            </connector>
            <label>Yess</label>
        </rules>
        <rules>
            <name>Noup</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Subcategory.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Budget_Administration_Metadata_for_Recruitment.Administration_Subcategory_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subcategory.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Budget_Administration_Metadata_for_Employee.Administration_Subcategory_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amount_Spent_is_Higher_than_Budget_Amount</targetReference>
            </connector>
            <label>Noup</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision has been created to filter the expenses that are using the Administration Budget because this budget never will go to an approval process.</description>
        <name>Is_the_Administration_Budget_Multiple_Team_Members</name>
        <label>Is the Administration Budget? - Multiple Team Members</label>
        <locationX>3878</locationX>
        <locationY>2546</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Multiple</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Subcategory.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Budget_Administration_Metadata_for_Recruitment.Administration_Subcategory_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subcategory.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Budget_Administration_Metadata_for_Employee.Administration_Subcategory_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Administrator_Using_the_Subcategory_Multiple_Team_Members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Noup_Multiple</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Subcategory.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Budget_Administration_Metadata_for_Recruitment.Administration_Subcategory_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subcategory.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Budget_Administration_Metadata_for_Employee.Administration_Subcategory_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amount_Spent_Budget_Available_Amount</targetReference>
            </connector>
            <label>Noup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_annual_budget_approved</name>
        <label>Is the annual budget approved?</label>
        <locationX>4384</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Annual_Budget_not_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yep_it_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Budget_Record_for_Multiple_Team_Members_Opt.Subcategory__r.Annual_Budget__r.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Category_for_Multiple_Team_Members</targetReference>
            </connector>
            <label>Yep, it is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_ID_Choosen</name>
        <label>Record Type ID Choosen</label>
        <locationX>3091</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Team_Members_to_be_displayed_in_a_Data_Table</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recruitment_Trainees_and_Marketing_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Type_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Expense_Parameters.Recruitment_Record_Type_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Type_Name</targetReference>
            </connector>
            <label>Recruitment, Trainees and Marketing Record Type</label>
        </rules>
        <rules>
            <name>Employee_Experience_and_Development_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Type_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Expense_Parameters.Employee_Record_Type_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Type_Name_for_Employee</targetReference>
            </connector>
            <label>Employee Experience and Development Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_profile</name>
        <label>User profile</label>
        <locationX>3575</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>System_Administrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_User_Profile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Admin_Radio_Button_Value</targetReference>
            </connector>
            <label>System Administrator</label>
        </rules>
        <rules>
            <name>HRManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Record_Owner_ID_for_Recruitment.Owner_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HRManager_Radio_Button_Value</targetReference>
            </connector>
            <label>HRManager</label>
        </rules>
        <rules>
            <name>HRGeneralist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Record_Owner_ID_for_Employee.Owner_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_HRGeneralist_Radio_Button_Value</targetReference>
            </connector>
            <label>HRGeneralist</label>
        </rules>
    </decisions>
    <description>This flow I&apos;ll be used to create normal expenses but at the same time, expenses that have more than 1 team member associated.</description>
    <environments>Default</environments>
    <formulas>
        <name>Amount_Spent_Splitted_Among_Team_Members</name>
        <dataType>Currency</dataType>
        <expression>{!Amount_Spent} / {!Team_Members_Count}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Associated_Team_Member_is_not_Empty</name>
        <dataType>String</dataType>
        <expression>IF({!Associated_Team_Member.recordId} != null, &apos;-&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Credit_Card_Owner_for_Employee</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Credit_Card_Information_for_Employee.Id} = {!Get_Budget_Administration_Metadata_for_Employee.Credit_Card_ID__c}, {!Get_Employee_Owner_ID.Owner_ID__c}, {!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>Credit_Card_Owner_for_Employee_Multiple_Team_Members</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Credit_Card_Information_for_Employee_Multiple_Team_Members.Id} = {!Get_Budget_Administration_Metadata_for_Employee.Credit_Card_ID__c},  {!Get_Employee_Owner_ID_Multiple_Team_Members.Owner_ID__c}, {!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>Credit_Card_Owner_for_Recruitment</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Credit_Card_Information_for_Recruitment.Id} = {!Get_Budget_Administration_Metadata_for_Recruitment.Credit_Card_ID__c}, {!Get_Recruitment_Owner_ID.Owner_ID__c}, {!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>Credit_Card_Owner_for_Recruitment_Multiple_Team_Members</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Credit_Card_Information_for_Recruitment_Multiple_Team_Members.Id} = {!Get_Budget_Administration_Metadata_for_Recruitment.Credit_Card_ID__c}, {!Get_Recruitment_Owner_ID_Multiple_Team_Members.Owner_ID__c}, {!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>Current_Month</name>
        <dataType>String</dataType>
        <expression>CASE(
  MONTH( {!$Flow.CurrentDate} ),
  1, &quot;January&quot;,
  2, &quot;February&quot;,
  3, &quot;March&quot;,
  4, &quot;April&quot;,
  5, &quot;May&quot;,
  6, &quot;June&quot;,
  7, &quot;July&quot;,
  8, &quot;August&quot;,
  9, &quot;September&quot;,
  10, &quot;October&quot;,
  11, &quot;November&quot;,
  &quot;December&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Current_User_Profile</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>Current_Year</name>
        <dataType>String</dataType>
        <expression>TEXT( YEAR( {!$Flow.CurrentDate} ) )</expression>
    </formulas>
    <formulas>
        <name>Month_of_the_Transaction_Date</name>
        <dataType>String</dataType>
        <expression>CASE(
  MONTH( {!Transaction_Date} ),
  1, &quot;January&quot;,
  2, &quot;February&quot;,
  3, &quot;March&quot;,
  4, &quot;April&quot;,
  5, &quot;May&quot;,
  6, &quot;June&quot;,
  7, &quot;July&quot;,
  8, &quot;August&quot;,
  9, &quot;September&quot;,
  10, &quot;October&quot;,
  11, &quot;November&quot;,
  &quot;December&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Record_Owner_ID</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_Budget_Record.Budget_Category__c}) = &quot;Recruitment, Trainees and Marketing&quot;, {!Get_Recruitment_Owner_ID.Owner_ID__c}, {!Get_Employee_Owner_ID.Owner_ID__c})</expression>
    </formulas>
    <formulas>
        <name>Record_Owner_ID_for_Multiple_Team_Members</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_Budget_Record_for_Multiple_Team_Members_Opt.Budget_Category__c}) = &quot;Recruitment, Trainees and Marketing&quot;, {!Get_Recruitment_Owner_ID_Multiple_Team_Members.Owner_ID__c}, {!Get_Employee_Owner_ID_Multiple_Team_Members.Owner_ID__c})</expression>
    </formulas>
    <formulas>
        <name>Submit_for_Approval_for_Multiple_Team_Members</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Amount_Spent} &gt; {!Get_Budget_Record_for_Multiple_Team_Members_Opt.Available_Amount__c}, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>Transaction_Month</name>
        <dataType>String</dataType>
        <expression>CASE(
  MONTH( {!Transaction_Date} ),
  1, &quot;January&quot;,
  2, &quot;February&quot;,
  3, &quot;March&quot;,
  4, &quot;April&quot;,
  5, &quot;May&quot;,
  6, &quot;June&quot;,
  7, &quot;July&quot;,
  8, &quot;August&quot;,
  9, &quot;September&quot;,
  10, &quot;October&quot;,
  11, &quot;November&quot;,
  &quot;December&quot;
)</expression>
    </formulas>
    <formulas>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>New Expense | Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Expense | Screen Flow</label>
    <loops>
        <name>Loop_Through_every_one_of_the_Team_Members</name>
        <label>Loop Through every one of the Team Members</label>
        <locationX>3746</locationX>
        <locationY>2870</locationY>
        <collectionReference>Team_Members_Data_table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Team_Members_ID_s</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_a_General_Expense_with_Submit_for_Approval</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Team_Members_Selected_in_the_Data_Table</name>
        <label>Loop Through Team Members Selected in the Data Table</label>
        <locationX>4098</locationX>
        <locationY>2978</locationY>
        <collectionReference>Team_Members_Data_table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_a_ROI_Cost_List_with_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ROI_Cost_Records_with_Administration_Budget</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Budget_Administration_Expense_Record</name>
        <label>Create a Budget Administration Expense Record</label>
        <locationX>314</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_Spent__c</field>
            <value>
                <elementReference>Amount_Spent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Credit_Card__c</field>
            <value>
                <elementReference>Associated_Credit_Card.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Team_Member__c</field>
            <value>
                <elementReference>Associated_Team_Member.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>EventLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Card_Statement__c</field>
            <value>
                <elementReference>Credit_Card_Statement.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License__c</field>
            <value>
                <elementReference>License.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Payment_Concept} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Recruitment_Owner_ID.Owner_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Type__c</field>
            <value>
                <elementReference>Receipt_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcategory__c</field>
            <value>
                <elementReference>Subcategory.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Budget_Administration_Expense_Record_with_Team_Member_Associated</name>
        <label>Create a Budget Administration Expense Record with Team Member Associated</label>
        <locationX>50</locationX>
        <locationY>2870</locationY>
        <assignRecordIdToReference>Record_ID_for_Budget_Administration_with_Team_Member_for_Recruitment</assignRecordIdToReference>
        <inputAssignments>
            <field>Amount_Spent__c</field>
            <value>
                <elementReference>Amount_Spent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Credit_Card__c</field>
            <value>
                <elementReference>Associated_Credit_Card.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Team_Member__c</field>
            <value>
                <elementReference>Associated_Team_Member.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>EventLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Card_Statement__c</field>
            <value>
                <elementReference>Credit_Card_Statement.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License__c</field>
            <value>
                <elementReference>License.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Payment_Concept} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Record_Owner_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Type__c</field>
            <value>
                <elementReference>Receipt_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcategory__c</field>
            <value>
                <elementReference>Subcategory.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Expense__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_General_Expense</name>
        <label>Create a General Expense</label>
        <locationX>4098</locationX>
        <locationY>2762</locationY>
        <assignRecordIdToReference>Expense_Record_ID_for_Multiple_Team_Members</assignRecordIdToReference>
        <connector>
            <targetReference>Get_the_Expense_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_Spent__c</field>
            <value>
                <elementReference>Amount_Spent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Credit_Card__c</field>
            <value>
                <elementReference>Associated_Credit_Card.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>EventLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Card_Statement__c</field>
            <value>
                <elementReference>Credit_Card_Statement.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License__c</field>
            <value>
                <elementReference>License.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Payment_Concept</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Record_Owner_ID_for_Multiple_Team_Members</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Type__c</field>
            <value>
                <elementReference>Receipt_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcategory__c</field>
            <value>
                <elementReference>Subcategory.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Expense__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_General_Expense_with_Submit_for_Approval</name>
        <label>Create a General Expense with Submit for Approval</label>
        <locationX>3746</locationX>
        <locationY>3170</locationY>
        <assignRecordIdToReference>Expense_Record_ID_for_Multiple_Team_Members</assignRecordIdToReference>
        <connector>
            <targetReference>Expense_Created_and_Sent_for_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_Spent__c</field>
            <value>
                <elementReference>Amount_Spent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Credit_Card__c</field>
            <value>
                <elementReference>Associated_Credit_Card.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>EventLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Card_Statement__c</field>
            <value>
                <elementReference>Credit_Card_Statement.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License__c</field>
            <value>
                <elementReference>License.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Payment_Concept</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Record_Owner_ID_for_Multiple_Team_Members</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Type__c</field>
            <value>
                <elementReference>Receipt_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcategory__c</field>
            <value>
                <elementReference>Subcategory.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submit_for_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Members_ID_s__c</field>
            <value>
                <elementReference>Submit_for_Approval_Team_Members_IDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Expense__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_SOLO_expense_Direct_Expense</name>
        <label>Create a SOLO expense</label>
        <locationX>1634</locationX>
        <locationY>2762</locationY>
        <assignRecordIdToReference>Record_ID_for_Budget_Administration_with_Team_Member_for_Recruitment</assignRecordIdToReference>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_Spent__c</field>
            <value>
                <elementReference>Amount_Spent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Credit_Card__c</field>
            <value>
                <elementReference>Associated_Credit_Card.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Team_Member__c</field>
            <value>
                <elementReference>Associated_Team_Member.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>EventLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Card_Statement__c</field>
            <value>
                <elementReference>Credit_Card_Statement.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License__c</field>
            <value>
                <elementReference>License.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Payment_Concept} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Record_Owner_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Type__c</field>
            <value>
                <elementReference>Receipt_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcategory__c</field>
            <value>
                <elementReference>Subcategory.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Expense__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_an_Expense_and_Submit_it_for_Approval</name>
        <label>Create an Expense and Submit it for Approval</label>
        <locationX>1370</locationX>
        <locationY>2870</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Expense_Created_and_Sent_for_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_Spent__c</field>
            <value>
                <elementReference>Amount_Spent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Credit_Card__c</field>
            <value>
                <elementReference>Associated_Credit_Card.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Team_Member__c</field>
            <value>
                <elementReference>Associated_Team_Member.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>EventLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Card_Statement__c</field>
            <value>
                <elementReference>Credit_Card_Statement.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License__c</field>
            <value>
                <elementReference>License.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Payment_Concept</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Record_Owner_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_Type__c</field>
            <value>
                <elementReference>Receipt_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcategory__c</field>
            <value>
                <elementReference>Subcategory.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submit_for_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_ROI_Cost_Records_with_Administration_Budget</name>
        <label>Create ROI Cost Records with Administration Budget</label>
        <locationX>4098</locationX>
        <locationY>3386</locationY>
        <connector>
            <targetReference>Multiple_Records_Final_Screen</targetReference>
        </connector>
        <inputReference>ROI_Cost_for_Multiple_Team_Members_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Budget_Administration_Metadata_for_Employee</name>
        <label>Get Budget Administration Metadata for Employee</label>
        <locationX>3575</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Associated_Team_Member_is_Empty_OR_Equal_to_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee Parameters</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expenses_and_Budgets_Parameters__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Administration_Metadata_for_Recruitment</name>
        <label>Get Budget Administration Metadata for Recruitment</label>
        <locationX>3575</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Budget_Administration_Metadata_for_Employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruitment Parameters</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expenses_and_Budgets_Parameters__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Record</name>
        <label>Get Budget Record</label>
        <locationX>1997</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Annual_Budget_is_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subcategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Subcategory.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Month_of_the_Transaction_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Record_for_Multiple_Team_Members_Opt</name>
        <label>Get Budget Record</label>
        <locationX>4384</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_annual_budget_approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subcategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Subcategory.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Month_of_the_Transaction_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Card_ID_for_Employee</name>
        <label>Get Credit Card ID for Employee</label>
        <locationX>1392</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_Owner_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee Parameters</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expenses_and_Budgets_Parameters__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Card_ID_for_Employee_Multiple_Team_Members</name>
        <label>Get Credit Card ID for Employee - Multiple Team Members</label>
        <locationX>3878</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_Owner_ID_Multiple_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee Parameters</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expenses_and_Budgets_Parameters__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Card_ID_for_Recruitment</name>
        <label>Get Credit Card ID for Recruitment</label>
        <locationX>1128</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recruitment_Owner_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruitment Parameters</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expenses_and_Budgets_Parameters__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Card_ID_for_Recruitment_Multiple_Team_Members</name>
        <label>Get Credit Card ID for Recruitment - Multiple Team Members</label>
        <locationX>3614</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recruitment_Owner_ID_Multiple_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruitment Parameters</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expenses_and_Budgets_Parameters__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Card_Information_for_Employee</name>
        <label>Get Credit Card Information for Employee</label>
        <locationX>1392</locationX>
        <locationY>2354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Administration_Budget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Associated_Credit_Card.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Credit_Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Card_Information_for_Employee_Multiple_Team_Members</name>
        <label>Get Credit Card Information for Employee - Multiple Team Members</label>
        <locationX>3878</locationX>
        <locationY>2354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Administration_Budget_Multiple_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Associated_Credit_Card.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Credit_Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Card_Information_for_Recruitment</name>
        <label>Get Credit Card Information for Recruitment</label>
        <locationX>1128</locationX>
        <locationY>2354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Administration_Budget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Associated_Credit_Card.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Credit_Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Card_Information_for_Recruitment_Multiple_Team_Members</name>
        <label>Get Credit Card Information for Recruitment - Multiple Team Members</label>
        <locationX>3614</locationX>
        <locationY>2354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Administration_Budget_Multiple_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Associated_Credit_Card.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Credit_Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Owner_ID</name>
        <label>Get Employee Owner ID</label>
        <locationX>1392</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Credit_Card_Information_for_Employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee Owner ID</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expense_Record_Owner__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Owner_ID_Multiple_Team_Members</name>
        <label>Get Employee Owner ID - Multiple Team Members</label>
        <locationX>3878</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Credit_Card_Information_for_Employee_Multiple_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee Owner ID</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expense_Record_Owner__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Expense_Parameters</name>
        <label>Get Expense Parameters</label>
        <locationX>3575</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Owner_ID_for_Recruitment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruitment Parameters</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expenses_and_Budgets_Parameters__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Owner_ID_for_Employee</name>
        <label>Get Record Owner ID for Employee</label>
        <locationX>3575</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee Owner ID</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expense_Record_Owner__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Owner_ID_for_Recruitment</name>
        <label>Get Record Owner ID for Recruitment</label>
        <locationX>3575</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Owner_ID_for_Employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruitment Owner ID</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expense_Record_Owner__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recruitment_Owner_ID</name>
        <label>Get Recruitment Owner ID</label>
        <locationX>1128</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Credit_Card_Information_for_Recruitment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruitment Owner ID</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expense_Record_Owner__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recruitment_Owner_ID_Multiple_Team_Members</name>
        <label>Get Recruitment Owner ID - Multiple Team Members</label>
        <locationX>3614</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Credit_Card_Information_for_Recruitment_Multiple_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruitment Owner ID</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expense_Record_Owner__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Members_to_be_displayed_in_a_Data_Table</name>
        <label>Get Team Members to be displayed in a Data Table</label>
        <locationX>3575</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Expense_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Team_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Expense_Created</name>
        <label>Get the Expense Created</label>
        <locationX>4098</locationX>
        <locationY>2870</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Team_Members_Selected_in_the_Data_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Expense_Record_ID_for_Multiple_Team_Members</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>This screen is to show the user that is exceeding the monthly amount for that budget.</description>
        <name>Amount_Higher_Warning_Message</name>
        <label>Amount Higher Warning Message</label>
        <locationX>1370</locationX>
        <locationY>2762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Return to Expense</backButtonLabel>
        <connector>
            <targetReference>Create_an_Expense_and_Submit_it_for_Approval</targetReference>
        </connector>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: verdana; color: rgb(255, 0, 0);&quot;&gt;YOU ARE EXCEEDING THE MONTHLY AMOUNT FOR THIS BUDGET&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;Month available amount: &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;$&lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Budget_Record.Available_Amount__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;If you agree with this, please click on &lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 68, 255);&quot;&gt;&quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 68, 255);&quot;&gt;Create Expense&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 68, 255);&quot;&gt;&quot;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;NOTE:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; font-family: verdana; color: rgb(255, 0, 0);&quot;&gt; &lt;/span&gt;&lt;em style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;If you click &quot;&lt;/em&gt;&lt;strong style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;&lt;em&gt;Create Expense&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;&quot; take into account that this expense will go to the&lt;/em&gt;&lt;strong style=&quot;font-size: 12px; font-family: verdana; color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt; &quot;Pending Approval&quot;&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 12px; font-family: verdana; color: rgb(0, 0, 0);&quot;&gt; stage.&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create Expense</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This screen is to show the user that is exceeding the monthly amount for that budget.</description>
        <name>Amount_Higher_Warning_Message_for_Multiple_Team_Members</name>
        <label>Amount Higher Warning Message for Multiple Team Members</label>
        <locationX>3746</locationX>
        <locationY>2762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Return to Expense</backButtonLabel>
        <connector>
            <targetReference>Loop_Through_every_one_of_the_Team_Members</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-family: verdana; font-size: 14px;&quot;&gt;YOU ARE EXCEEDING THE MONTHLY AMOUNT FOR THIS BUDGET&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;Month available amount: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;$&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Budget_Record_for_Multiple_Team_Members_Opt.Available_Amount__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;If you agree with this, please click on &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 68, 255); font-family: verdana; font-size: 12px;&quot;&gt;&quot;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 68, 255); font-family: verdana; font-size: 12px;&quot;&gt;Create Expense&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 68, 255); font-family: verdana; font-size: 12px;&quot;&gt;&quot;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;NOTE:&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;If you click &quot;&lt;/em&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;&lt;em&gt;Create Expense&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;&quot; take into account that this expense will go to the&lt;/em&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;&lt;em&gt; &quot;Pending Approval&quot;&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt; stage.&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create Expense</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Annual_Budget_not_Approved</name>
        <label>Annual Budget not Approved - Warning</label>
        <locationX>4890</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Return to expense</backButtonLabel>
        <fields>
            <name>Warning_Message_for_Annual_Budget</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; font-size: 14px; color: rgb(255, 5, 5);&quot;&gt;The annual budget needs to be approved before creating an expense.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Expense_Created_and_Sent_for_Approval</name>
        <label>Expense Created and Sent for Approval</label>
        <locationX>3746</locationX>
        <locationY>3278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Expense_Sent_for_Approval_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The expense was created and sent for approval successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Multiple_Records_Final_Screen</name>
        <label>Multiple Records Final Screen</label>
        <locationX>4098</locationX>
        <locationY>3494</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message_Multiple_Records</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;All records were created successfully!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Expense_Screen</name>
        <label>New Expense Screen</label>
        <locationX>3575</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Team_Members_Selected</targetReference>
        </connector>
        <fields>
            <name>New_Expense_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Expense_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Expense_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Transaction_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Transaction Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Payment_Concept</name>
                    <dataType>String</dataType>
                    <fieldText>Payment Concept</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Subcategory</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Subcategory__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Subcategory</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Expense__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Subcategory.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Amount_Spent</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount Spent</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Expense_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Associated_Credit_Card</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Associated Credit Card</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Associated_Credit_Card__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Expense__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Associated_Credit_Card.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Credit_Card_Statement</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Credit_Card_Statement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Credit Card Statement</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Expense__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Credit_Card_Statement.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Receipt_Type</name>
                    <choiceReferences>Paper_Factura</choiceReferences>
                    <choiceReferences>Paper_Recibo</choiceReferences>
                    <choiceReferences>Paper_Credito_Fiscal</choiceReferences>
                    <choiceReferences>Digital_Recibo</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Digital_Recibo</defaultSelectedChoiceReference>
                    <fieldText>Receipt Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Receipt_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>1</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>License</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>License__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>License</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Expense__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>License.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Transaction_Type_Radio_Button</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>LicenseType</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EventLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Course__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Event</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Expense__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>EventLookup.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Transaction_Type_Radio_Button</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Event</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Associated_Team_Member</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Associated_Team_Member__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Associated Team Member</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Expense__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Associated_Team_Member.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>How_many_Team_Members</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>One_Team_Member</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Expense_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Team_Members_Data_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Team_Member__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Team Members List</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Team_Members_to_be_displayed_in_a_Data_Table</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-103d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Cost_Item__c&quot;,&quot;guid&quot;:&quot;column-e969&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Cost Center&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Team_Members_Data_table.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>How_many_Team_Members</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Multiple_Team_Members_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Type_Selection</name>
        <label>Record Type Selection</label>
        <locationX>3575</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_profile</targetReference>
        </connector>
        <fields>
            <name>Record_Type_Selection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Type_Selection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Type_Selection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Type_Selection_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Type_Selection_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Record_Type_Selection_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Type_Selection_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Type_Selection_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Record_Type_Radio_Button</name>
                    <choiceReferences>Recruitment_Trainees_and_Marketing</choiceReferences>
                    <choiceReferences>Employee_Experience_and_Development</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select a Record Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Current_User_Profile</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>System Administrator</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Recruitment_Trainees_and_Marketing_for_HRManager</name>
                    <choiceReferences>Recruitment_Trainees_and_Marketing</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UserID</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Record_Owner_ID_for_Recruitment.Owner_ID__c</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Employee_Experience_and_Development_for_HRGeneralist</name>
                    <choiceReferences>Employee_Experience_and_Development</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UserID</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Get_Record_Owner_ID_for_Employee.Owner_ID__c</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Type_Selection_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Record_Type_Selection_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Type_Selection_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Type_Selection_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Type_Selection_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Type_Selection_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Type_Radio_Button</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Recruitment_Trainees_and_Marketing_for_HRManager</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Employee_Experience_and_Development_for_HRGeneralist</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Record_Type_Selection_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Type_Selection_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Type_Selection_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Transaction_Type_Radio_Button</name>
                    <choiceReferences>LicenseType</choiceReferences>
                    <choiceReferences>Event</choiceReferences>
                    <choiceReferences>Normal_Expense</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Transaction Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Record_Type_Radio_Button</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Recruitment_Trainees_and_Marketing_for_HRManager</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Employee_Experience_and_Development_for_HRGeneralist</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Type_Selection_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Record_Type_Selection_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Type_Selection_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Record_Type_Selection_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Type_Selection_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Type_Selection_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>How_many_Team_Members</name>
                    <choiceReferences>One_Team_Member</choiceReferences>
                    <choiceReferences>Multiple_Team_Members_Choice</choiceReferences>
                    <choiceReferences>None_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How many Team Members?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Transaction_Type_Radio_Button</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other Expense</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Type_Selection_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Subcategory_not_Allowed</name>
        <label>Subcategory not Allowed</label>
        <locationX>3130</locationX>
        <locationY>2762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change subcategory</backButtonLabel>
        <fields>
            <name>Subcategory_error_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Administration budget can be used only for the Administrator.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>1392</locationX>
        <locationY>3338</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message_txt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The record was created successfully!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>3449</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Expense_Parameters</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Expense_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>Expense_Record_Collector</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>Expense_Record_ID_for_Multiple_Team_Members</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Expense_Records_with_Submit_for_Approval_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>Expense_Records_with_Submit_for_Approval_Collector</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>Record_ID_for_Budget_Administration_with_Team_Member_for_Recruitment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_ID_For_Credit_Card_Statement_For_Recruitment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ROI_Cost_for_Multiple_Team_Members_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ROI_Cost__c</objectType>
    </variables>
    <variables>
        <name>ROI_Cost_for_Multiple_Team_Members_Collector</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ROI_Cost__c</objectType>
    </variables>
    <variables>
        <name>Submit_for_Approval_Team_Members_IDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Team_Members_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
